@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}


.navbar {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 50px;
}

.navbar .icon a {
  font-family: 'Grand Hotel', cursive;
  font-size: 30px;
  left: 0;
  top: 0;
  position: fixed;
  background:white;
  color: black;
  text-decoration: none;
  align-items: center;
  height: 50px;
  line-height: 50px;
  width: 100px;
}

.navbar .nav_items {
  position: fixed;
  background: white;
  width: 100%;
  bottom: 0;
  height: 50px;
  left: 0;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  z-index: 999;
}

.navbar .nav_items a {
  text-decoration: none;
  color: grey;
  line-height: 50px;
  align-items: center;
  text-align: center;
  margin-top: 8px;
}

.navbar .nav_items .active{
  text-decoration: none;
  color: black;
  line-height: 50px;
  align-items: center;
  text-align: center;
  margin-top: 8px;
}


.navbar .nav_button a {
  text-decoration: none;
  color: black;
  line-height: 50px;
  align-items: center;
  text-align: center;
  margin-top: 2px;
  position: fixed;
  right: 0;
}

.card {
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
  transform: translate(-50% -50%);
  height: 100vh;
  background: white;
  
}

.card .logo {
  background: white;
  font-family: 'Grand Hotel', cursive;
  font-size: 40px;
  width: 60%;
  position: relative;
  top: 100px;
  left: 20%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  align-items: center;
}

input[type=email], select {
  position: relative;
  top: 160px;
  width: 80%;
  padding: 8px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  left: 10%;
}

input[type=text], select {
  position: relative;
  top: 160px;
  width: 80%;
  padding: 8px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  left: 10%;
}


input[type=password], select {
  position: relative;
  top: 160px;
  width: 80%;
  padding: 8px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  left: 10%;
}

input[type=submit] {
  width: 80%;
  background-color: #3e91f7;
  position: relative;
  top: 160px;
  left: 10%;
  color: white;
  padding: 8px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #2c86f5;
}

.card .signin_red {
  background:white;
  font-size: 15px;
  color: grey;
  width: 60%;
  position: relative;
  top: 180px;
  left: 20%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  align-items: center;
}

.card .signin_red a {
  color: #3e91f7;
  text-decoration: none;
}

.post_card {
  height: 450px;
  width: 98%;
  left: 2%;
  background: white;
  border-radius: 2px;
  position: relative;
  top: 60px;
}

.post_name {
  height: 50px;
  width: 100%;
  background: white;
  line-height: 50px;
}
.post_image {
  height: 300px;
  width: 100%;
  background: white;
}
.post_likes {
  height: 40px;
  width: 100%;
  background: white;
}
.post_comments {
  height: 60px;
  width: 100%;
  background: white;
}


