@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
* {
  margin: 0;
  padding: 0;
}


.navbar {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 50px;
}

.navbar .icon a {
  font-family: 'Grand Hotel', cursive;
  font-size: 30px;
  left: 100px;
  top: 0;
  position: fixed;
  background:white;
  color: black;
  text-decoration: none;
  align-items: center;
  height: 50px;
  line-height: 50px;
  width: 100px;
}

.navbar .nav_items {
  position: fixed;
  width: 100px;
  top: 0;
  height: 50px;
  right: 200px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
}

.navbar .nav_items a {
  text-decoration: none;
  color: black;
  line-height: 50px;
  align-items: center;
  text-align: center;
  margin-top: 8px;
}


.navbar .nav_button a {
  text-decoration: none;
  color: black;
  line-height: 50px;
  align-items: center;
  text-align: center;
  margin-top: 2px;
  position: fixed;
  right: 100px;
}

.card {
  width: 30%;
  position: fixed;
  left: 35%;
  top: 100px;
  justify-content: center;
  transform: translate(-50% -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 400px;
  
}